<div class="drawer">
  <div class="drawer__header">
    <div class="drawer__title">User details</div>
    <button mat-icon-button type="button" aria-label="Close" (click)="close()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  @if (vm$ | async; as vm) {
    @if (vm.loading) {
      <div class="drawer__body">
        <app-skeleton-cards [count]="1" variant="list"></app-skeleton-cards>
      </div>
    } @else {
      <div class="drawer__body">
        @if (vm.user; as user) {
          <div class="row">
            <span class="label">Name</span>
            <span class="value">{{ user.name }}</span>
          </div>
          <div class="row">
            <span class="label">Email</span>
            <span class="value">{{ user.email }}</span>
          </div>
          <div class="row">
            <span class="label">Role</span>
            <span class="value">{{ user.role }}</span>
          </div>
          <div class="row">
            <span class="label">Created</span>
            <span class="value">{{ user.createdAt | date: 'mediumDate' }}</span>
          </div>

          <mat-divider style="margin: 12px 0;"></mat-divider>

          <button mat-stroked-button type="button" (click)="resetPassword(user)">
            <mat-icon>lock_reset</mat-icon>
            Reset password
          </button>
        }
      </div>
    }
  }
</div>
