.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

@media (max-width: 959px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

.card {
  border-radius: 16px;
}

.chart {
  height: 320px;
}
